* {
    font-family: 'Poppins';
}

.maindiv {

    max-width: 900px;
    min-height: 650px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 3px #d2d2d2;
    filter: drop-shadow(0 0 0.2rem rgb(180, 180, 180));

}
nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-height: 100px;
    background-color: #882DF0;
    box-shadow: 1px 2px #d2d2d2;
}


.cardmain {
    display: flex;
    align-items: center;
    padding: 0 100px;
    max-width: 500px;
    word-break: break-word;

}

.imgcontainer {
    padding: 20px;
}

.rightcontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.abovetitle {
    margin-top: 20px;
    display: flex;
    gap: 12px;
    font-family: "Raleway";
    display: flex;
    align-items: center;
}

.abovetitle span:first-child {
font-size: 15px;
letter-spacing: .17em;
}

.abovetitle span:nth-child(2) {
    font-size: 12px;
    color: #9E9E9E;
    text-decoration: underline;
    cursor: pointer;
    }


h3 {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.faBook {
    color: white;
    animation-iteration-count: 4;
}

h1 {
    color: rgb(245, 245, 245);
}

p {
    font-family: "Raleway";
    font-size: 15px;
    line-height: 150%;
}
img {
    width: 120px;
    height: 160px;
    border-radius: 5px;
}


.titlemain span {
    font-size: 13px;
    font-weight: 500;
}

.buttonsection {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsection button {

    background-color: #882DF0;
    color: white;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    filter: drop-shadow(0 0 0.15rem rgb(180, 180, 180));
    cursor: pointer;
    position: sticky;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.17)
}

.closeBtn {

    color: rgb(161, 161, 161);
    float: right;
    font-size: 35px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;}

.modal-content label{
    margin-top: 20px;
    margin-bottom: 5px;
}

.modal button {
    margin-top: 30px;
}

.modal .choosefiletext  {
    margin-left: 80px;
}

.deleteButtonSection {
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 22.51px;
}

#deleteButton  {
    
    margin-top: 20px;
    background-color: white;
    color: #882DF0;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    filter: drop-shadow(0 0 0.15rem rgb(180, 180, 180));
    cursor: pointer;
}

.confirmDelete {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#yesDelete {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

#noDelete {
    cursor: pointer;
}


@media all and (max-width: 650px){

    .maindiv {
        max-width: 100%;
    }
 
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 100px;
        background-color: #882DF0;
        box-shadow: 1px 2px #d2d2d2;
    }

    nav .faBook {
        padding: 10px 0 0 0;
        margin: 0;
    }
    nav h1 {

        font-size: 16px;
        padding: 0 0 15px 0;
        margin: 0;
    }

    .rightcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 340px;
    }
    

    .abovetitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .titlemain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
        max-width: 340px;   }

    .imgcontainer {
        padding-bottom: 5px;
    }

    .cardmain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 340px;
        word-break: break-word;

    }

}


/*@media all and (max-width: 380px){
    
    
    .cardmain {

        max-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .titlemain {

        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .rightcontainer {
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .titlemain {
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .titlemain h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

}
*/