* {
  font-family: "Poppins";
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  background-color: #f0ebeb;
}

.maindiv {
  max-width: 900px;
  min-height: 650px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px #d2d2d2;
  filter: drop-shadow(0 0 0.2rem rgb(180, 180, 180));
}

ul {
  list-style: none;
}

/* Main landing page styles */

.full-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 100px;
  width: 100%;
  background-color: #882df0;
  box-shadow: 1px 2px #d2d2d2;
  margin: 0 auto;
}

.main-lander-inner-bg {
  height: 600px;
  width: 100%;
  background: url("../public/gratbackground-wave.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-lander-wrapper {
  display: flex;
  flex-direction: row;
}
.main-lander-top-left {
  width: 40%;
  height: 600px;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-lander-top-right {
  width: 60%;
  margin-left: 8%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-lander-top-right img {
  height: 550px;
  width: 611px;
}

.full-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  margin-left: 20%;
  gap: 1%;
}

.full-nav-info ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.full-nav-info ul li {
  margin-left: 40px;
}

.nav-wrap .nav-info ul a,
.full-nav-info ul li a {
  text-decoration: none;
}

.full-nav-info ul li a:hover {
  color: #777;
}

.nav-info button,
.full-nav-info button {
  background-color: white;
  color: #882df0;
  border: 2px solid #882df0;
  margin: 0;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.nav-wrap .nav-info button:hover,
.full-nav-info button:hover {
  background-color: #882df0;
  color: white;
  border: 2px solid white;
}

.main-lander-top-left h2 {
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-weight: 800;
  background: #882df0;
  background: linear-gradient(to right, #882df0 0%, #cf00ac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.main-lander-top-left h4 {
  font-size: 20px;
  color: #481780;
  margin-top: 15px;
  text-align: center;
}

.landing-top-button {
  background-color: white;
  color: #882df0;
  padding: 15px 40px;
  border: 2px solid #882df0;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  filter: drop-shadow(0 0 0.15rem rgb(180, 180, 180));
  cursor: pointer;
}

.landing-top-button:hover {
  background-color: #882df0;
  color: white;
  border: 2px solid white;
}

/* Shorter nav styling */

.nav-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 100px;
  max-width: 900px;
  background-color: #882df0;
  box-shadow: 1px 5px #d2d2d2;
  margin: 0 auto;
  filter: drop-shadow(0 0 0.5rem rgb(180, 180, 180));
  z-index: 222;
}

.title-container {
  display: flex;
  gap: 1.5%;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 65%;
}

.nav-wrap .nav-info ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-wrap ul li a {
  margin-left: 40px;
}

.nav-wrap ul li a:hover {
  color: #777;
}

/* Dashboard */

.cardmain {
  display: flex;
  align-items: center;
  padding: 0 100px;
  max-width: 650px;
  word-break: break-word;
}

.imgcontainer {
  padding: 20px;
}

.rightcontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.abovetitle {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  font-family: "Raleway";
  display: flex;
  align-items: center;
}

.abovetitle span:first-child {
  font-size: 15px;
  letter-spacing: 0.17em;
}

.abovetitle span:nth-child(2) {
  font-size: 12px;
  color: #9e9e9e;
  text-decoration: underline;
  cursor: pointer;
}

h3 {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.faBook {
  color: white;
  animation-iteration-count: 4;
}

h1 {
  color: rgb(245, 245, 245);
}

p {
  font-family: "Raleway";
  font-size: 15px;
  line-height: 150%;
}
img {
  width: 120px;
  height: 160px;
  border-radius: 5px;
}

.titlemain span {
  font-size: 13px;
  font-weight: 500;
}

.buttonsection {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsection button {
  background-color: #882df0;
  color: white;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  filter: drop-shadow(0 0 0.15rem rgb(180, 180, 180));
  cursor: pointer;
  position: sticky;
}

/* Edit modal */

.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 15% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.17), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.closeBtn {
  color: rgb(161, 161, 161);
  float: right;
  font-size: 35px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content label {
  margin-top: 20px;
  margin-bottom: 5px;
}

.modal button {
  margin-top: 30px;
}

.modal .choosefiletext {
  margin-left: 80px;
}

.deleteButtonSection {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 22.51px;
}

#deleteButton {
  margin-top: 20px;
  background-color: white;
  color: #882df0;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  filter: drop-shadow(0 0 0.15rem rgb(180, 180, 180));
  cursor: pointer;
}

.confirmDelete {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#yesDelete {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

#noDelete {
  cursor: pointer;
}

.cardmain {
  display: flex;
  align-items: center;
  padding: 10px 100px;
  max-width: 100%;
  word-break: break-word;
}

.cardmain p {
  margin: 0 0 30px 0;
}

/*  Register and Login Page  */

.mainCard {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.registerForm {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 50px;
}

.registerForm section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgb(165, 123, 167);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  font-size: 16px;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

@media all and (max-width: 650px) {
  /* Mobile main landing page */

  .maindiv {
    max-width: 100%;
  }

  .full-nav,
  .nav-wrap {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    background-color: #882df0;
    box-shadow: 1px 2px #d2d2d2;
  }

  .full-nav-info ul,
  .nav-wrap .nav-info ul {
    padding: 0;
    margin: 0;
  }

  .full-nav h1,
  .nav-wrap h1 {
    text-decoration: none;
    padding: 0;
    font-size: 18px;
    margin: 0;
  }

  .faBook {
    margin: 0;
    padding-right: 5px;
  }

  .logged-out-link {
    margin-right: 30px;
  }

  .main-lander-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }

  .main-lander-inner-bg {
    width: 100%;
    height: 850px;
    background-color: #fbf3f0;
    background-image: none;
  }

  .main-lander-top-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .main-lander-top-right {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-height: 500px;
    padding-top: 50px;
  }

  .main-lander-top-left {
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
    max-height: 250px;
    width: 100%;
  }

  .titlemain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 340px;
  }

  .rightcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 340px;
  }

  /* Dashboard mobile styling */

  .abovetitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .imgcontainer {
    padding-bottom: 5px;
  }

  .cardmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    word-break: break-word;
    padding-right: 0;
    padding-left: 0;
  }
}

@media all and (max-width: 740px) {
  .full-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin: 0;
  }
}

@media all and (max-width: 510px) {
  .full-nav,
  .nav-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .full-title-container,
  .nav-wrap .title-container {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .full-nav-info,
  .nav-info {
    padding-bottom: 5px;
  }

  .full-nav-info button,
  .nav-info button {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}
